{% extends 'base.html' %} {% block head %}
<title>Query documents</title>
{% endblock %} {% block body %}
<div class="content">
  <h1 style="text-align: center">Query documents</h1>
  {% if documents|length < 1 %}
  <h4 style="text-align: center">Create documents</h4>
  {% else %}
  <table>
    <tr>
      <th>Document</th>
      <th>Distance</th>
    </tr>
    {% for document in documents %}
    <tr>
      <td>{{ document[0].content }}</td>
      <td>{{ document[1] }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}

  <div class="form">
    <form action="/" method="POST" enctype="multipart/form-data">
      <input type="file" name="pdf_file" id="content" accept=".pdf"/>
      <input type="submit" value="Add Document" />
      <input type="text" name="query" id="content2" />
      <input type="submit" value="Query" />
    </form>
  </div>
</div>
{% endblock %}
